{% if reviews.count > 0 %}
<div class="mt-10">
    <div class="px-5 flex">
        <h3 class="text-2xl font-semibold">Reviews</h3>
    </div>
    
    <form class="p-5 mt-5 border border-gray-400 shadow-lg rounded-lg" action="{% url 'reviews:create' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="category" value="{{category}}">
        <input type="hidden" name="pk" value="{{obj_pk}}">
        <label class="text-lg font-semibold" for="comment">Create Comment</label>
        <div class="flex items-center mt-2">
            {% include 'mixins/user_avatar.html' with user=user w_and_h='w-16 h-16' font='font-medium' %}
            <input class="w-11/12 ml-3 border border-gray-400 rounded-md" placeholder="Comment.." type="text" name="comment" id="comment" />
        </div>
        <div class="flex justify-between mt-3">
            <div></div>
            <div class="flex items-center">
                <i class="fas fa-star text-red-500 text-lg"></i>
                <select class="ml-3 border border-gray-500 rounded-md" name="rating" id="rating">
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
                <button class="h-full ml-2 py-1 px-2 border border-blue-500 border-opacity-0 rounded-md bg-blue-500 text-white hover:bg-white hover:text-blue-700 hover:border-opacity-100">Create</button>
            </div>
        </div>
    </form>

    <ul class="mt-5">
        {% for review in reviews.all %}
        <li class="mb-5 p-5 flex border border-gray-400 shadow-lg rounded-lg">
            <a href="{{ review.created_by.get_absolute_url }}" class="flex flex-col items-center">
                {% include 'mixins/user_avatar.html' with user=review.created_by w_and_h='w-16 h-16' font='font-medium' cursor='cursor-pointer' %}
                <span class="text-sm">{{review.created_by.first_name}}</span>
            </a>
            <div class="w-full flex justify-between items-center">
                <div class="ml-5 text-lg flex flex-col">
                    <span>{{review.text}}</span>
                    <div class="flex items-center mt-2 text-sm cursor-default text-gray-600">
                        <i class="fas fa-star text-red-500 text-sm"></i>
                        <span class="ml-1">{{review.rating}}</span>
                        <div class="w-1 h-4 mx-3 border-l text-blue-800"></div>
                        <span>{{review.created_at|date:"F j, Y"}}</span>
                    </div>
                </div>
                
                {% if review.created_by == user %}
                    <form action="{% url 'reviews:delete' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="category" id="category" value="{{category}}">
                        <input type="hidden" name="obj_pk" id="obj_pk" value="{{obj_pk}}">
                        <input type="hidden" name="pk" id="pk" value="{{review.pk}}">
                        <button class="py-2 px-3 rounded-full border border-red-600 border-opacity-0 hover:border-opacity-100 hover:text-red-600 hover:bg-white">
                            <i class="fas fa-trash text-xl text-red-600"></i>
                            <span class="text-sm">Delete</span>
                        </button>
                    </form>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}