{% extends "base.html" %}

{% block page_title %}
  {{movie.title}}
{% endblock page_title %}

{% block content %}

<div class="container mx-auto h-full flex flex-col bg-white shadow-lg rounded px-8 pb-8 my-4">
<div class="w-full h-screen flex justify-center bg-cover bg-center rounded-lg my-10" style="background-image: url({{movie.cover_image_url}})"></div>
<h2 class="font-bold">{{movie.title}}</h2>
<div class="flex items-center my-2">
  <div class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">{{movie.year}}</div>
  <div class="bg-orange-400 text-white px-3 shadow-md py-1 rounded-full mx-4">{{movie.category}}</div>
  <div class="text-red-600 flex items-center">
    <i class="fas fa-star text-red-500"></i>
    <span class="ml-1">{{movie.rating}}</span>
  </div>
</div>
<div class="my-2">Director:
  <div class="inline-block bg-white shadow-md rounded-full px-3 py-1 text-sm font-semibold text-gray-700">{{movie.director}}</div>
</div>
<div class="my-2">Cast: {% for i in movie.cast.all %} 
  <div class="inline-block bg-white shadow-md rounded-full px-3 py-1 text-sm font-semibold text-gray-700">{{i}}</div> {% endfor %}
</div>
<div class="flex">
  <a class="bg-blue-400 hover:bg-blue-600 text-white font-bold mt-4 py-2 px-4 rounded" href="{% url 'movies:update' movie.pk %}">Edit Movie</a>
  {% if user.is_authenticated %}
    {% include "mixins/fav_button.html" with obj=movie kind='movie' %}
  {% endif %}
</div>

{% include 'mixins/review.html' with reviews=movie.reviews category='movie' obj_pk=movie.pk %}

</div>

{% endblock content %}